.background {
    position: relative;
    width: 1440px;
    height: 1024px;
}
.heading{
    height: 100px;
    width: 1440px;
}
.logo {
    position: absolute;
    width: 150px;
    height: 100px;
    left: 0px;
    top: -1px;
}

.h-search {
    position: relative;
    left: 250px;
    top: 37px;
}

.search {
    width: 598px;
    height: 58px;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 100px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.h-arena {
    left: 870px;
    top: 13px;
    position: absolute;
}

.icon-arena {
    width: 92px;
    height: 82px;
}

.h-notification {
    position: absolute;
    left: 1000px;
    top: 32px;
}
.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification:hover {
    background: red;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}
.h-account {
    position: absolute;
    left: 1150px;
    top: 48px;
}

